.site-logo{
    width:30%;
    height:auto;
}
.services{
    text-align: center;
}




div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu{
       a {
    display: inline-block;
    color: rgb(218, 218, 218);
    text-align: center;
    padding: 14px 14px 2px 14px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 650;

  }
}
  
  div.scrollmenu 
  {
      a:hover {
color: black;  
font-size: 15px;
font-weight: 650;

}
}

   

    .active:hover{ 
        font-weight: 300;
 
        padding-bottom: 5px;
        position: relative;
        cursor: pointer;
    }
    .active::before{
        content: "";
        width: 50%;
        height: 1px;
        bottom: 0;
       left:25%;
        border-bottom: 2px solid red;
    }

    
    
 /* make scrollbar transparent */
 
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


