.one-call-head{
    background-color: #0c2340;
    h4{
        font-weight: bold;
        text-transform: capitalize;
        color: white;
    }

    .mahir-bottom-icon{
        width: 30%;
    }

    .right-socials-bottom{
        color: white;
        font-size: 22px;
        float: right;
    }

    .linkedin{
        border-radius: 50%;
        color: black;
        padding: 3px 0;
        background: white;
        
    }

    .services-selection{
        select{
            font-size: 12px;
            width: 80%;
            background-color: #0c2340;
            color: white;
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;

            &:focus{
                outline: none;
            }
        }

        .last-heads{
                margin-bottom: 80px;
        }

        h5{
            color: white;
            font-size: 12px;
        }
    }



}