.orders-head{
    .last-card{
        margin-bottom: 100px !important;
    }

    .background-color{
        background-color: whitesmoke;
        border-radius: 11px;
        border: none;
        height: 130px;
    }
    .order-top-img{
        .site-logo{
            display: block;
            margin: 0 auto;
        }
    }

   h3{
       text-transform: uppercase;
       font-weight: bold;
       letter-spacing: 1px;
   }
   .about-left{
       height: 120px;
       border-radius: 14px;
       position: absolute;
       width: 30%;
   }

  .inner-media{
    position: relative;
    right: -97px;
    top: -6px;
    font-size: 12px;
    width: 75%;


    .main-top-text{
        font-size: 16px;
        font-weight: bold;
    }
    .bottom-text{
        font-size: 10px;
    }
    .description-media{
        margin-bottom: 9px;
        font-size: 10px;
    }

    .date-orders{
        float: right;
        position: relative;
        top: -19px;
        left: -10px;
        font-size: 8px;
    }
  }

  .status-btn{
      background-color: #670c67;
      color: white;
      border: none;
      height: 20px;
      font-size: 12px;
      padding: 0px 12px;
      border-radius: 2px;
      text-transform: uppercase;

      &:focus{
          outline: none;
      }
  }

  .cancel-btn{
    background-color: #ed1b24;
      float: right;
      color: white;
      border: none;
      height: 20px;
      font-size: 12px;
      padding: 0px 12px;
      border-radius: 2px;
      margin: 0 10px;
      text-transform: uppercase;

      &:focus{
        outline: none;
    }
  }

  .completed-btn{
    background-color: #670c67;
    color: white;
    border: none;
    height: 20px;
    font-size: 12px;
    padding: 0px 12px;
    border-radius: 2px;
    text-transform: uppercase;

    &:focus{
        outline: none;
    }
  }


  .review-btn{
    background-color: #ed1b24;
    float: right;
    color: white;
    border: none;
    height: 20px;
    font-size: 12px;
    padding: 0px 12px;
    border-radius: 2px;
    margin: 0 10px;
    text-transform: uppercase;

    &:focus{
        outline: none;
    }
  }    
}


