// step one
.services-head{
    h5{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.form-control{
    border-color: black !important;
   &:focus{
    box-shadow: none !important;
    outline: none !important;
   }
}



.form-group{  
    .name-has-data{
        display: inline-block;
        position:absolute;
        left: 26px;
        top: 118px;
        font-size: 12px;
        transition: all 150ms ease-in;
        color: #676767;
        background-color: white;
    }
    .name-tag{
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 29px;
        font-size: 12px;
        position:absolute;
        left: 26px;
        top: 138px;
        font-weight: normal;
        transition: all 150ms ease-in;
        color: #676767;

        &:hover{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:active{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:focus{
            transform: translateY(-19px);
            color: #000;
            box-shadow: 0px 0px 0px 0px;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }
    }
          
    .phonenumber-has-data{
        display: inline-block;
        position:absolute;
        left: 26px;
        top: 173px;
        font-size: 12px;
        transition: all 150ms ease-in;
        color: #676767;
        background-color: white;
    }

    .phonenumber-tag{
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 29px;
        position:absolute;
        left: 26px;
        top: 190px;
        font-size: 12px;
        font-weight: normal;
        transition: all 150ms ease-in;
        color: #676767;

        &:hover{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:active{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:focus{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }
    }



    .city-has-data{
        display: inline-block;
        position:absolute;
        left: 26px;
        top: 227px;
        font-size: 12px;
        transition: all 150ms ease-in;
        color: #676767;
        background-color: white;
    }
    .city-tag{
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 25px;
        font-size: 12px;
        position:absolute;
        left: 26px;
        top: 245px;
        font-weight: normal;
        transition: all 150ms ease-in;
        color: #676767;

        &:hover{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:active{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:focus{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }
    }


    .address-has-data{
        display: inline-block;
        position:absolute;
        left: 26px;
        top: 280px;
        font-size: 12px;
        transition: all 150ms ease-in;
        color: #676767;
        background-color: white;
    }
    .address-tag{
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 25px;
        font-size: 12px;
        position:absolute;
        left: 26px;
        top: 300px;
        font-weight: normal;
        transition: all 150ms ease-in;
        color: #676767;

        &:hover{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:active{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }

        &:focus{
            transform: translateY(-19px);
            color: #000;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
        }
    }
    

    

    textarea{
        resize: none !important;
    }
}


// end
