//Testimonial slider section
.testimonial-head{
    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }
    h3{
        text-transform: uppercase;
        font-weight: bold;
    }

    .testimonial-inner{
        height: auto;

        .star{
            color:red;
            font-size: 19px;
        }
        .half-star{
            color:red;
            font-size: 17px;
        }

        .testimonial-icons{
            width: 20%;
        }

        p{
            font-weight: 600;
        }

      
    }

    .carousel-indicators{
        display: none;
    }

    .testimonial-top{
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 40px;
        border: none;
        box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.5);
    }
}