.navigationbar{
   display: flex;
   justify-content: space-around;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  box-shadow: 0px -1px 7px 0px rgba(160, 152, 152, 0.5);
  bottom:0;
  width:100%;
  background-color: rgb(255, 255, 255);

   
}
.nav-icon{
    font-size: 22px;
}
.nav-item{
  color: black;
}
.active-nav{
  color:red;
}
.nav-item.active-nav{
  color:red;
}